<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Python Website</title>
    <link href="{{url_for('static', filename='styles/style.css')}}" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Welcome to our site</h1>
        <p>This is a simple Python website using Flask.</p>
    </main>
    <footer>
        <p>&copy; 2023 My Python Website</p>
    </footer>
</body>
</html>