*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    max-width: 1160px;
    margin: 0 auto;
}
body{
    font-family: Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 1.5rem;
    min-height: 100vh;
    position: relative;
}
header{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 1px solid #ccc;
}
a{
    text-decoration: none;
    color: #333;
}
a:hover{
    color: #007bff;
    text-decoration: underline;
}
main{
    margin-bottom: 6rem;
}
footer{
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}