*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Verdana, sans-serif;
    max-width: 1160px;
    margin: 0 auto;
    background-color: #f4f4f4;
    color: #333;
    padding: 1.5rem;
    min-height: calc(100vh - 50px);
}
a{
    text-decoration: none;
    color: #333;
}
a:hover{
    color: #007bff;
    text-decoration: underline;
}
footer{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}